body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 98vh;
    align-items: center;
}

button {
    flex: 1;
    margin: 10px;
    font-size: 18px;
}

.container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: 3px solid black;
    width: 90vmin;
    height: 90vmin;  
}

.row {
    display: flex;
    flex: 1;
}

.square {
    border: 1px solid dimgray;
    flex: 1;
}

