body {
    display: flex;
    justify-content: center;
    height: 98vh;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: 4px solid black;
    width: 90vmin;
    height: 90vmin;  
}

.row {
    display: flex;
    flex: 1;
}

.square {
    border: 2px solid gray;
    flex: 1;
}

